<html>
    <head>
            <link rel="stylesheet" href="./css/style.css">
            <link href="./css/bootstrap.min.css" rel="stylesheet">
    </head>
    <body>

        <div class="wrapper fadeInDown">
        <div id="formContent">
            <!-- Tabs Titles -->

            <!-- Icon -->
            <div class="fadeIn first">
            
            </div>

            <!-- Login Form -->
            <form>
            <input type="text" id="login" class="fadeIn second" name="login" placeholder="login">
            <input type="text" id="password" class="fadeIn third" name="login" placeholder="password">
            <input type="submit" class="fadeIn fourth" value="Log In">
            </form>

            <!-- Remind Passowrd -->
            <div id="formFooter">
            </div>

        </div>
        </div>

        <script src="./js/bootstrap.min.js"></script>
        <script src="./js/jquery.min.js"></script>
    </body>
</html>